# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
/.pnp
.pnp.js

# Build output
build
dist
.next
out
.nuxt
.cache
.parcel-cache
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/

# Coverage
coverage
.nyc_output
.lcov
.nyc_output
/coverage

# TypeScript cache
*.tsbuildinfo

# ESLint/Stylelint cache
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode
.vscode-test

# OS
.DS_Store
